// body背景颜色
bg-color=#131419
// 基础字体颜色
base-color=#ffffff
// 大标题字体颜色
title-font=#fdd947
// active 字体颜色
font-active=#fdd947
// 按钮背景颜色
btn-bg=#fdd947
// 按钮字体颜色
btn-font=#131419
// item 背景颜色
item-bg=#1d1e23
// item 字体颜色
item-font=#6d6b6c
// content 字体颜色
content-font=#b3b3b3
